

 <h1>Table :v</h1>
<table class="tablestyle">
 <tr>

  <th>Name</th>
  <th>Lvl</th>
  <th>Characteristic</th>                     
  <th>Exp</th>
  
 </tr>

 <tr>
    <td> <%=@first_character.name%> </td>
    <td><%=@first_character.lvl%></td>
    <td><%=@first_character.characteristic%></td>
    <td><%=@first_character.exp%></td>
 </tr>

 <tr>
    <td><%=@second_character.name%></td>
    <td><%=@second_character.lvl%></td>
    <td><%=@second_character.characteristic%></td>
    <td><%=@second_character.exp%></td>
 </tr>

  <tr>
    <td><%=@third_character.name%></td>
    <td><%=@third_character.lvl%></td>
    <td><%=@third_character.characteristic%></td>
    <td><%=@third_character.exp%></td>
 </tr>
 </table>
